
   #red{
        background-color:red;
        height:100px;
        width:200px;
    }
    img{
        float:right;
        width:100px;
        height:40px;
    }
    .calc{
        background-color: red;
        height:100px;
        width:80%;
    }

    


}