*{
    margin:0;
    padding:0;
}
h2.blue{
    color:blue;
}
.greeen{
    color:green;
}
.blue{
    color:blue;
}
h3 .green{
    color:green;
}
.blue.green{
    color:black;
}
.blue.green{
    color:red;
}
div{
    position:relative;
}
img{
    height:500px;
    width:500px;
}
div p{
    font-size: 20px;
    position:absolute;
    bottom:0;
    background-color:blue;
    color:white;
}
.section ul{
    display:flex;

}
.container{
    background-color:red;
    width:100px;
    height:100px;
    margin:10px;
    display:flex;
    flex-direction:row

}




